---
import "../styles/global.css";
import { Image } from 'astro:assets';
import trisImage from '../images/tris-the-boss.jpg';
import { getImage } from 'astro:assets';

const favicon = await getImage({
	src: trisImage,
	width: 32,
	height: 32,
	format: 'png',
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href={favicon.src} type="image/png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>YES</title>
	</head>
	<body class="bg-black h-screen w-screen flex flex-col items-center justify-center gap-8 p-4">
		<div class="font-display text-[20vw] text-white tracking-wider">YES</div>
		<Image src={trisImage} alt="Just a lovely man." width={400} height={400} class="max-w-sm object-cover rounded-lg shadow-lg" />
	</body>
</html>
